In [1]:
add = lambda x,y : x+y 
add(3,4)

7

In [17]:

mult = lambda x: x*7
mult(5)

35

In [7]:
reverse_string = lambda x : x[::-1]
reverse_string('Hello')

'olleH'

In [10]:
is_even = lambda x: x%2==0 
is_even(4)

True

In [11]:
upper_case = lambda x :x.upper()
upper_case('arab')

'ARAB'

In [13]:
last_index = lambda x:x[-1]
last_index('arab')

'b'

In [16]:
is_even_or_odd = lambda x: f'is even: {x}' if x%2==0 else f'is odd: {x}'
print(is_even_or_odd(2))
print(is_even_or_odd(3))

is even: 2
is odd: 3

In [20]:
check_sign = lambda x: f'bigger as 0 {x}' if x>0 else f'smaler as 0 {x}'
print(check_sign(4))
print(check_sign(-3))

bigger as 0 4
smaler as 0 -3

In [21]:
in_range =lambda x: f'True this {x} in range'if x>=10 and x<=50 else  f'this num {x} out of range'
print(in_range(44))
print(in_range(3))

True this 44 in range
this num 3 out of range

In [34]:
len_name = lambda x: f'The name "{x}" has more than 5 characters.' if len(x) > 5 else f'The name "{x}" has 5 or fewer characters.'

print(len_name('abdullah'))
print(len_name('mam'))

The name "abdullah" has more than 5 characters.
The name "mam" has 5 or fewer characters.

In [35]:
char_case = lambda c: "Uppercase" if c.isupper() else "Lowercase"

print(char_case('A'))
print(char_case('a'))

Uppercase
Lowercase

In [36]:
describe = lambda x: (
    f"The number {x} is even and positive." if x % 2 == 0 and x > 0 else
    f"The number {x} is even and negative." if x % 2 == 0 and x < 0 else
    f"The number {x} is odd and positive." if x % 2 != 0 and x > 0 else
    f"The number {x} is odd and negative."
)

print(describe(-10))
print(describe(5))
print(describe(-5))
print(describe(2))

The number -10 is even and negative.
The number 5 is odd and positive.
The number -5 is odd and negative.
The number 2 is even and positive.

In [37]:
words = ["ali", "mona", "tariq"]
uppercased = list(map(lambda word: word.upper(),words))
uppercased

['ALI', 'MONA', 'TARIQ']

In [38]:
lenghts = list(map(lambda len_word: len(len_word),words))
lenghts

[3, 4, 5]

In [39]:
a = [1, 2, 3]
b = [4, 5, 6]
sum_list_numbres= list(map(lambda x,y :x+y,a,b))
sum_list_numbres

[5, 7, 9]

In [40]:
num_list = [2, 3, 4]
fun_squer = list(map(lambda x:(x**2)+1,num_list))
fun_squer

[5, 10, 17]

In [43]:
string_list = ["hello", "world"]
merged = list(map(lambda merg: '!'+merg.upper(),string_list))
merged

['!HELLO', '!WORLD']

In [44]:
name_list = ["ALi","sara"]
age_list = [30,25]
merged_name_age = list(map(lambda name,age:f'{name} is {age} years old' ,name_list,age_list))
merged_name_age

['ALi is 30 years old', 'sara is 25 years old']

In [46]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x %2==0 ,numbers))
even_numbers

[2, 4, 6]

In [47]:
values = [1,None,2,None]
cleand = list(filter(lambda x: x is not None ,values))
cleand

[1, 2]

In [52]:
texet = ["hello", "", " ", "world",""]
clear_space = list(filter(lambda x: x.strip(" "),texet))
clear_space

['hello', 'world']

In [56]:
names = ["Ali", "Sara", "ahmad", "Ziad"]
check_char_name = list(filter(lambda x:x.lower().startswith("a"),names ))
check_char_name

['Ali', 'ahmad']

In [57]:
num_list = [0, 1, 2, 3, 4, 5, 6]
chek_num = list(filter(lambda num :num%2 !=0 ,num_list ))
chek_num

[1, 3, 5]

In [71]:
names = ["Ahmed", "", "Mona", " ", ""]
chek_names = list(filter(lambda name :name.replace(" ","").strip(),names))
chek_names

['Ahmed', 'Mona']

In [72]:
num_list = [1, 2, 3, 4, 5, 6]
chek_num = list(filter(lambda x: x>3 ,num_list))
chek_num

[4, 5, 6]

In [70]:
booling = [True,False,True,None]
check_bool = list(filter(lambda x: x is True ,booling))
check_bool

[True, True]

In [73]:
from functools import reduce 


numbers = [1,2,3,4]
proudct = reduce(lambda x,y :x*y ,numbers)
proudct

24

In [74]:
from functools import reduce 
list_number = [10,20,30]
sum_number_list = reduce(lambda x,y :x+y ,list_number)
sum_number_list

60

In [75]:
nums = [5, 9, 2, 12]
chek_number = reduce(lambda x,y : x if x>y else y,nums)
chek_number

12

In [76]:
list_num = [2,3,4]
mult_num = reduce(lambda x,y : x*y ,list_num)
mult_num

24

In [78]:
lst_num = [100, 40, 200, 80]
chek_n = reduce(lambda x,y : x if x<y else y,lst_num)
chek_n

40

In [82]:
list_itmes =["I", "love", "Python"]
merged = reduce(lambda x,y : x+" "+y,list_itmes)
merged

'I love Python'

In [85]:
nums = [5, 3, 2]
odd = reduce(lambda x,y :x-y,nums)
odd

0

In [ ]:
users = [
    {"name": "Ali", "age": 25},
    {"name": "Mona", "age": None},
    {"name": "", "age": 30},
    {"name": "Ziad", "age": -5},
    {"name": "Sara", "age": 22}
]
def analyze_json(x,index=0,ls=None) :
    if ls is None :
        ls = []
   
    if not isinstance(x,list):   
        if isinstance(x,dict) :
            ls.append(list(filter(lambda items:f'{items[0]} ' items[0] != "" and items[1]>1,x.items())))
        
        return ls  
    if index == len(x):
        return ls   
    items=x[index]
    if isinstance(items,list) :
        ls.append(analyze_json(items,0,ls))
    return analyze_json(x,index+1,ls)                
    
analyze_json(users)

[]

In [118]:
d ={"name": "Ali", "age": 25}
f = list(filter(lambda itmes : itmes[0]!= "" and isinstance(itmes[1],int) and itmes[1]>0 ,d.items()))
f

[('age', 25)]

In [ ]:
d = {"name": "Ali", "age": 25, "": -1}
f = list(filter(lambda item: item[0] != "" and (isinstance(item[1], (int, float)) and item[1] > 0) or (isinstance(item[1],str) and item[1] !=""), d.items()))
print(f)
for i in f :
    c=list(map(lambda x:x,i))

[('name', 'Ali'), ('age', 25)]

['age', 25]

In [157]:
users = [
    {"name": "Ali", "age": 25},
    {"name": "Mona", "age": None},
    {"name": "", "age": 30},
    {"name": "Ziad", "age": -5},
    {"name": "Sara", "age": 22}
]

cleand = list(filter(lambda user:user['name'].strip() != "" and user["age"] is not None and user["age"] >0,users))
formated = list(map(lambda user:f'{user["name"]}({user["age"]})',cleand))
formated

['Ali(25)', 'Sara(22)']

In [169]:
def analyze_data_json(data,filt=None) :
    if filt is None :
        filt=[]
    if isinstance(data,dict) :
        if data.get("name","").strip() != "" and data.get("age") is not None and data.get("age") >0  :
            filt.append(data) 
    elif isinstance(data,list) :
        
        for item in data :
            analyze_data_json(item,filt)
    return map_dict(filt)
def map_dict(data):
    return list(map(lambda user:f'{user["name"]}({user["age"]})',data))
        
users = [
    {"name": "Ali", "age": 25},
    {"name": "Mona", "age": None},
    [{"name": "", "age": 30}],
    {"name": "Ziad", "age": -5},
    {"name": "Sara", "age": 22}
]
analyze_data_json(users)

['Ali(25)', 'Sara(22)']

In [171]:
def analyze_data_json(data,filt = None) :
    if filt is None :
        filt = []
    if isinstance(data,dict) :
        if data.get("name","").strip() !="" and data.get("age") is not None and data.get("age") >0 :
            filt.append(data)
    elif isinstance(data,list) :
        for item in data :
            analyze_data_json(item,filt)
    return map_dict1(filt)
def map_dict1(data) :
    return list(map(lambda user:f'{user["name"]}({user["age"]})',data))                  
users = [
    {"name": "Ali", "age": 25},
    {"name": "Mona", "age": None},
    [{"name": "", "age": 30}],
    {"name": "Ziad", "age": -5},
    {"name": "Sara", "age": 22}
]
analyze_data_json(users)

['Ali(25)', 'Sara(22)']