lambda arguments: expression

In [2]:
add_5 = lambda x: x +5
add_5(10)

15

In [3]:
multipla = lambda x,y : x*y
multipla(2,3)

6

In [4]:
combine = lambda a,b,c: (a+b)*c
combine(1,2,3)

9

Sort by name length:

In [5]:
names = ["Abdullah", "Mohammed", "Zainab", "Adam"]
sorted_by_lenght = sorted(names , key= lambda name:len(name))
sorted_by_lenght

['Adam', 'Zainab', 'Abdullah', 'Mohammed']

List of tuples: (name, age) ,Sort by age:

In [6]:
people = [("Sarah", 30), ("Karim", 25), ("Leila", 35)]
sorted_by_age = sorted(people ,key=lambda person:person[1])
sorted_by_age

[('Karim', 25), ('Sarah', 30), ('Leila', 35)]

 Write a lambda function to convert degrees Celsius to Fahrenheit.
# Formula: F = C * 9/5 + 32

In [9]:
C = 100
to_fahrenheit = lambda x: x*(9/5) +32
to_fahrenheit(C)

212.0

# ❓ Write lambda that returns the first letter of the name

In [10]:
get_initial = lambda x:x[0]
get_initial('Abdullah')

'A'

lambda returns True if the number is even, False if odd

In [17]:
is_even = lambda x:  x%2 == 0
print(is_even(5))
print(is_even(2))

False
True

lambda takes two numbers and returns the larger of the two

In [20]:
larger_num = lambda x,y :x if  x>y  else y 
print(larger_num(10,5))
print(larger_num(5,20))

10
20

lambda takes 3 numbers and returns their average (sum ÷ 3)

In [28]:
average = lambda x,y,c :sum([x,y,c]) /3
average(3,6,9)

6.0

# ❓ lambda takes your age and returns "Yes" if you are >= 18, and "No" if less

In [34]:
age = int(input('enter Age : '))
can_vote = lambda x:True if x>=18  else False
print(can_vote(age))
can_vote = lambda x:x >=18
print(can_vote(20))

False
True

# ❓ lambda takes a string and a character, and checks whether the character is present in it or not

In [ ]:
string = 'c'
string_1 = 'b'
contains_char = lambda x,y:y in x[::]
 
print(contains_char('abdullah',string))
print(contains_char('ammar',string_1))

False
False

# ❓ lambda takes a string and calculates its length without counting spaces

In [56]:
char_count = lambda x:len(x.replace(' ',''))
char_count("hello world")

10

# ❓ lambda takes a file name like "photo.jpg" and returns "jpg"

In [70]:
get_extension = lambda x:x.split('.',1)[0]
print(get_extension("report.pdf.f.1"))  
print(get_extension("archive.zip"))
get_extension = lambda x:x.split('.',1)[-1]
print(get_extension("report.pdf.f.1"))  
print(get_extension("archive.zip"))

report
archive
pdf.f.1
zip

1. Map()
The lambda function is applied to each structure in the sequence (list, row, etc.)

In [71]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x:x**2 ,numbers))
squared

[1, 4, 9, 16]

2. filter()
Returns elements that meet a specific condition.

In [72]:
numbers = [10, 15, 22, 33, 40]
even_numbers = list(filter(lambda x: x%2 == 0,numbers))
even_numbers

[10, 22, 40]

3. reduce() (from functools)
The lambda function is applied accumulator to all elements.

In [73]:
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x,y : x*y ,numbers)
product

24

4. max() and min() with lambda
To find the largest/smallest element based on a custom key.

In [74]:
people = [
    {'name': 'Ali', 'age': 30},
    {'name': 'Sara', 'age': 25},
    {'name': 'Tariq', 'age': 35}
]
oldest = max(people, key=lambda person: person['age'])
oldest

{'name': 'Tariq', 'age': 35}

In [76]:
words = ["Apple", "banana", "Avocado", "cherry", "apricot"]
sorted(words)

['Apple', 'Avocado', 'apricot', 'banana', 'cherry']

In [84]:

words = ["Apple", "banana", "Avocado", "cherry", "apricot"]
result = list(filter(lambda word: word.startswith("A") or word.startswith('a'),words))
result

['Apple', 'Avocado', 'apricot']

Choose a function based on a given condition

In [86]:
x = 10 
f = (lambda x:x**2) if x >5 else (lambda x:x+2)
f(x)

100

We use lambda to implement a function inside a loop.

In [87]:
squares = []
squer = lambda x:x**2
for i in range(5):
    squares.append(squer(i))
squares

[0, 1, 4, 9, 16]

In [89]:
double = lambda x:x*2
i=1
while i<=4 :
    print(double(i))
    i+=1

2
4
6
8

inside def (meaning lambda as part of a regular function)

In [90]:
def applay_to_list(func,data) :
    return [func(x) for x in data]
applay_to_list(lambda x:x +10,[1,2,3])

[11, 12, 13]

From within def (strongest use)

In [92]:
def make_multiplier(factor) :
    return lambda x:x*factor
double = make_multiplier(2)
triple =make_multiplier(3)
print(double(5))
print(triple(5))

10
15

In [105]:
def even_number(func,lst) :
    return [x for x in lst if func(x)]
numbres=[2,3,4,7,8]
even_number(lambda x:x%2==0  ,numbres)

[2, 4, 8]